/* :root{
    --colorTextos: #49454567;
}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

.body {
    background: #fff;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 100vh; 
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
}

.h1{
    text-align: center;
    margin: 10px 0;
    font-weight: 800;
}

.h2{
    text-align: center;
    margin: 10px 0;
    font-weight: 800;
}

.form {
    background: #fff;
    width: 50%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.2);
    text-align: center; /* Centra el contenido del formulario */
}

.form{
    width: 100%;
    margin: auto;
}

.form .grupo{
    position: relative;
    margin: 45px;
}

.input, .textarea{
    background: none;
    color:#c6c6c6;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border:none;
    border-bottom: 1px solid var(--colorTextos);
    resize: none;
}

.input:focus,.textarea:focus{
    outline: none;
    color: rgb(94,93,93);
}

.input:focus~label, 
.input:valid~label, 
.textarea:focus~label, .textarea:valid~label{
    position: absolute;
    top: -14px;
    font-size: 12px;
    color: #2196F3;
}

.label{
    color: var(--colorTextos);
    font-size: 16px;
    position: absolute;
    left: 5px;
    top:10px;
    transition: 0.5s ease all;
    pointer-events: none;
}

.input:focus~.barra::before, textarea:focus~.barra::before{
    width: 100%;
}

.barra{
    position: relative;
    display: block;
    width: 100%;
}

.barra::before{
    content: '';
    height: 2px;
    width: 0%;
    bottom: 0;
    position: absolute;
    background: linear-gradient(to right, #6A82FB, #FC5C7D);
    transition: 0.3s ease all;
    left: 0%;
}

.button {
    background: #000;
    color: #fff;
    border-radius: 20px;
    width: 100px;
    height: 40px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
    display: block;
    margin: 10px auto;
}
.button:hover {
    background: #333;
}

.footer.redesSociales {
    text-align: center;
    margin: 40px 0; /* Aumenta el espacio superior e inferior de las redes sociales */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.iconosRedes a {
    display: inline-block;
    margin: 10px;
    text-align: center; /* Alinea el contenido al centro */
}

.iconosRedes img {
    width: 30px;
    height: auto;
    transition: transform 0.2s ease, filter 0.2s ease;
}

.iconosRedes img:hover {
    transform: scale(1.1);
    filter: brightness(1.2);
}
