@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New&display=swap');

.ventanaCar {
    font-family: 'Zen Kaku Gothic New', sans-serif;
    position: absolute;
    top: 20px;
    height: 95%;
    right: 20px;
    width: 50%;
    background-color: rgb(244, 244, 244);
    padding: 10px 40px;
}

.topCar {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: baseline;
}

.contentCar {
    display: flex;
    flex-direction: column;
    overflow: auto;
    height:70%;
}

.tablaCarrito {
    width: 100%;
    table-layout:auto;
    border-collapse: separate;
    border-spacing: 0px 10px;
}
.tablaCabeza{
    position: sticky;
    top: 0;
}
.tablaCarrito td {
    padding: 20px;
}
.tablaCarrito th {
    padding: 7px;
}
.tablaCarrito tr {
    background-color: white;
    margin: 30px;
}

.tablaEncabezado {
    background-color: white;
}

.celdaProduct {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap:wrap;
    gap: 20px;
}

.imgProduct {
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: center;
}

.nombreP {
    font-size: x-large;
    margin: 0;
}

.cateP {
    margin: 0;

}

.celdaCantidad {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 10px;
}

.butonQuanty {
    background-color: rgb(244, 244, 244);
    ;
    border-style: none;
}

.celdaPrecio {
    display: flex;
    justify-content: center;
}
.pieCar{
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.total{
    display: flex;
    justify-content:space-between;
    padding-inline: 30px;
}
.botonPago{
    font-size: x-large;
    padding: 15px;
    border-style: solid;
    border-width: 1px;
    background-color: white;
}
.botonPago:hover{
    background-color: black;
    color: white;
}


@media (max-width: 768px) {
    .ventanaCar {
        font-family: 'Zen Kaku Gothic New', sans-serif;
        position: absolute;
        width: 75%;
        margin: 0 auto;
        padding: 10px 40px;
    }
}