.footer{
    font-family:Arial, Helvetica, sans-serif;
    padding: 40px;
    background-color: #D0CCCC;
    display: flex;
    justify-content: space-around;
    align-content: stretch;
    flex-wrap: wrap;
    gap: 10px;
}
.footer h2{
    margin:0px;
    font-size:xx-large;
}
.footer h3{
    margin-block:10px;
}

.seccionHorizontal{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}