.principal{
    margin: 0;  
    padding: 0;   
  }
  
.logos{
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding-inline:10vw;
    align-items: center;
    margin-bottom: -30px;
}

.iconos{
    display: flex;
    font-size: 2em;
    gap: 3vw;
}

.menu{
    padding-inline:15vw;
    /*Se quitan las viñetas */
    display: flex;
    font-size:x-large;
    justify-content: center;
    gap: 3vw;
}

.menu a{
    text-decoration: none;
    color:#5f6368;
}

.linea{
    border: 1px solid #000; 
    width:64%;
}

.contenedor{
    margin-top: 2%;
    padding-inline:15vw;
}

.img{   
    padding-inline:8vw;
    justify-content: center;
    width: 50vw;
}

