.principal{
    margin: 0;  
    padding: 0;   
    margin-top: -3%;
}
  
.logos{
    justify-content: space-between;
    align-content: center;
    margin-bottom: -30px;
    padding-inline:10vw;
    align-items: center;
    display: flex;
}

.iconos{
    display: flex;
    font-size: 2em;
    gap: 3vw;
}
.iconoX{
    color:#050404;
    padding: 5px;
}
.iconoX:hover{
    cursor: pointer;
    animation: sacudir 1s linear infinite;
}

.menu{
    justify-content: center;
    padding-inline:10vw;
    font-size:larger;
    display: flex;
    gap: 3vw;
}

.menu a{
    text-decoration: none;
    color:#5f6368;
}

.linea{
    border: 0.1px solid #000; 
    padding-inline:10%;
    width:64%;
}

.contenedor{
    padding-inline:15vw;
    margin-top: 2%;
}

.img{   
    justify-content: center;
    padding-inline:13vw;
    width: 40vw;
}

.Slider{
    padding-inline:15vw;
    justify-content: center;
    background-color: #eeebe9;
}

.imgLema{
    display: flex;
    align-items: center;
    font-size: x-large;
}

.bralette{
    display: flex;
    margin-top: 3%;
    width: 40%;
    padding-inline:5vw;
}

.Footer{
    margin-top: 3%;

}

.Footer{
    margin-top: 3%;

}

.bolsaBristolimg{
    display: flex;
    padding-inline: 6vw;
    width: 40vw;
    margin-top: 7%;
    margin-bottom: 3%;
}

.divMorral{
    display: flex;
    justify-content: flex-end;
}

.etiquetaP{
    display: block;
    text-align: center;
    align-items: center;
}

.tituloMorral{
    margin-top: 65%;
    font-size: xx-large;
    
}

.terminos{
    margin-top: -7%;
    left: 80%;
}


.contenedorDescubremas{
    margin-top: 10%;
    padding-inline:2vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    
}

.descubremas1 {
    background-image: url("../images/bragas.jpg");
    width: 400px;
    height: 600px;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 2%;
    
}

.descubremas2 {
    background-image: url("../images/brasieres.jpg");
    width: 400px;
    height: 600px;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 2%;
}

.descubremas3 {
    background-image: url("../images/brasier.jpg");
    width: 400px;
    height: 600px;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 2%;
}

.descubremas4 {
    background-image: url("../images/coordinados.jpg");
    width: 400px;
    height: 600px;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 2%;
}

.menuimagenes{
    display: flex;
    justify-content: space-between;
}

.overlay {
    display: flex;
    position: relative;
    top:-30%;
    left: -50%;
    align-items: center;
    
}


.btnropa {
    font-size: 16px;
    border: none;
    background-color:#3c3c3c;
    color: white;
    border-radius: 5px;
    padding: 17px 30px;
}



.btnropa:hover  {
    opacity: 1;
    background-color: #bdbdbd;
    color: #000;
}
  
.btnropa:hover .overlay {
    opacity: 1;
}
  
.h1descubremas{
    text-decoration: none;
    margin-bottom: -80px;
    margin-inline: 45px;
    color:#5f6368;
    font-size:340%;
    margin-bottom: -8%;

}




@keyframes sacudir {
    0% {
        transform: none;
      }
    
      10%,
      30%,
      50%,
      70%,
      90% {
        transform: rotate(-5deg);
      }
    
      20%,
      40%,
      60%,
      80% {
        transform: rotate(5deg);
      }
  }